@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*.bg-dark{
    background-color: #0E2D21 !important;
}*/

body{
    /*background-color: #FFE5B4;*/
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    /*background: url(assets/Bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;*/
}


.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
}

    
.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
    line-height: 25px;

}

/*.navbar-collapse{
    padding-left: 2rem;
    margin-left: 2rem;
    margin-inline-end: 0rem;
}*/

ul.navbar-nav{
    padding-left: 1rem;
}

li.nav-items{
    padding-left: 2rem;
}

/*.countdown, #timeline, #aboutUs{
    background-color: #A0DB78;
    height: 60vh;
}*/

.countdown{
    background: url(assets/Bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*background-image: url("../../assets/Bg.png");
    background-size: cover;
    background: #A0DB78;*/
    height: auto;
    width: auto;
    
    /*background-position: center center;*/
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EEE5A2;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.countdown-container{
    display: flex;
    margin: 4rem 0;
}

.big-text{
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 30vh;
}

.countdown-container > div{
    margin: 0 2rem;
    text-align: center;
    border: 1px solid #EEE5A2;
    padding: 0px 20px;
    border-radius: 12px;
    box-sizing: border-box;
    color: #000;
    min-width: 150px;
    background-color: #EEE5A2;
}

.left{
    text-align: center;
    color: #000;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
}

.speak{
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: 55px;
    margin-top: 5rem;
    padding: 2.5rem 12rem;
    color: #000;
}

.prizes, .sponsors{
    background-color: #FFF2C9;
    height: auto;
    width: auto;
    margin: 8rem 0;
}


section .container{
    width: 100%;
    height: auto;
    padding: 0 4rem;
    
    /* flexbox*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.box{
    width: 50%;
    height: auto;
    background: #89BE65;
    margin: 0 4%;
    margin-bottom: 6%;
    text-align: center;
    padding: 10% 0;
    box-sizing: border-box;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;

}

/*#prizes, #sponsors{
    background: #FFF2C9;
    height: 40vh;

}

#contactUs{
    background: #033A35;
    height: 30vh;
}*/


/*  .container
  {
  align-items: center;
  margin-left: 10rem;
  }
*/



@media (max-width:767px){
    .countdown-container > div{
        margin: 0 1rem;
    }


    .box{
        width: 50%;
        height: auto;
        margin-bottom: 10%;
        padding: 10% 0;
        box-sizing: border-box;
        font-size: 1rem;
    
    }
}

@media (max-width:992px){
    .countdown-container{
        flex-wrap: wrap;
    }

    .countdown-container > div{
        margin: 1rem auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 410px ) {
    .w-100{
        height: max-content;
    }

    .countdown-container{
        display: flex;
        margin: 1rem 0;
    }

    .countdown-container div{
        margin: 1rem;
        padding: 0rem;
    }
    
    p.big-text{  
        margin: 0em;
    }
    
    .big-text{
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
    }
    
    .countdown-container > div{
    margin: 1.5rem 1.5rem;
    text-align: center;
    border: 1px solid #EEE5A2;
    padding: 0px 1rem;
    border-radius: 10px;
    min-width: 100px;

}

.left{
    text-align: center;
    font-size: 1.5rem;
    line-height: 40px;
}

.speak{
    font-size: 2rem;
    line-height: 15px;
    padding: 2rem 2.5rem;
    color: #000;

}

.box{
    width: 50%;
    height: auto;
    margin-bottom: 10%;
    padding: 10% 3%;
    box-sizing: border-box;
    font-size: 1rem;

}
    
    
}

