@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body{
    /*background-color: #FFE5B4;*/
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    /*background: url(assets/Bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;*/
}


.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
}

    
.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
    line-height: 25px;

}



ul.navbar-nav{
    padding-left: 1rem;
}

li.nav-items{
    padding-left: 2rem;
}


.countdown{
    background: url(assets/Bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: auto;
    
    /*background-position: center center;*/
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EEE5A2;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.countdown-container{
    display: flex;
    margin: 4rem 0;
}

.big-text{
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 30vh;
}

.countdown-container > div{
    margin: 0 2rem;
    text-align: center;
    border: 1px solid #EEE5A2;
    padding: 0px 20px;
    border-radius: 12px;
    box-sizing: border-box;
    color: #000;
    min-width: 150px;
    background-color: #EEE5A2;
}

.left{
    text-align: center;
    color: #000;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
}

.speak{
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: 35px;
    margin-top: 1rem;
    padding: 2.5rem 12rem;
    color: #000;
}

.prizes, .sponsors{
    background-color: #FFF2C9;
    height: auto;
    width: auto;
    padding: 2rem 0;
    margin: 2rem 0;
}


section .container{
    width: 100%;
    height: auto;
    padding: 0 4rem;
    
    /* flexbox*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.box{
    width: 50%;
    height: auto;
    background: #89BE65;
    margin: 0 4%;
    margin-bottom: 6%;
    text-align: center;
    padding: 10% 0;
    box-sizing: border-box;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;

}

/* timeline */

.day1{
    position: absolute;
    left: 16rem;
    padding-top: 2rem;   
    font-family: Montserrat;
          font-style: normal;
          font-weight: 800;
          font-size: 3rem;
          color: #000000;
}

.day2{
    position: absolute;
    left: 16rem;
    padding-top: 8rem;   
    font-family: Montserrat;
          font-style: normal;
          font-weight: 800;
          font-size: 3rem;
          color: #000000;
}

.timeline {
    white-space: nowrap;
    width: auto;
    height: auto;
   
  }

.times{
    margin-left: 15rem;
        margin-top: -110px;
}
  
  .timeline ol {
    font-size: 0;
    width: 80vw;
    padding: 13rem 0;
    transition: all 1s;
  }
  
  .timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 160px;
    height: 3px;
    background: #06514A;
   
  }
  
  .timeline ol li:last-child {
    width: 60px;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: 12px;
  }
  
  .timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 0.5px);
    bottom: 0;
    width: 15px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #F2C548;
  }
  
  .timeline ol li div {
    position: absolute;
    left: calc(50% + 6px);
    width: 180px;
   
    padding: 15px;
    
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: #C0D3D2;
    
  }
  
  
  .timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline ol li:nth-child(even) div {
    top: -52px;
    transform: translateY(-100%);
  }
  
  .timeline ol li:nth-child(even) div::before {
    top: 100%;
    content: '';
    display: block;
    left: 80px;
    width: 3px;
    height: 50px;
    border-width: 50px 0px 0 0;
    border-color: #06514A transparent transparent transparent;
  }
  
  .timeline ol li:nth-child(odd) div {
    top: calc(100% + 50px);
  }
  
  
  .timeline ol li:nth-child(odd) div::before {
    top: -49px;
    content: '';
      display: block;
     left: 80px;
      width: 2px;
      height: 50px;
    border-width: 0px 0 0 3.5px;
    border-color: transparent transparent transparent #06514A;
  }
  
  .timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  

/*  about us */
.aboutUs{
        height: auto;
        width: auto;
}


.my-container {
    margin: 1rem 2rem;
    padding-left: 10rem;
    padding-right: 6rem;
    /*background: #F2C548; */
}


.my-col{
    padding: 0 3rem;
}
.my-row1 {
    margin-bottom: 5rem;
}


.ABC{
    text-align: left;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    color: #000000;
}


.text{
    text-align: justify;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 25px;
    color: #000000;
    padding: 0 0;
    margin: 0 0;
}

/*-------- aboutUs  --------*/
.contactUs{
    background: #033A35;
    height: auto;
    width: auto;
    padding: 1rem 0;
    color: #fff;
}

.my-container1 {
    margin: 0 2rem;
    padding-left: 10rem;
    padding-right: 6rem;
   
    /*background: #380636;*/
 }

.club {
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
}
.my-row2 p{
    margin-bottom: 0 !important;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

p a{
    text-decoration: none;
    color: #fff;
}

/*--------*/

footer {
    background: #A0DB78;
    width: auto;
    height: auto;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 25px;
    color: #000000;
    padding: 0.5rem 0 ;

}

.copyright-text #heart-icon {
    color: red;
}


/*-----media queries -----*/

@media (max-width:767px){
    .countdown-container > div{
        margin: 0 1rem;
    }


    .box{
        width: 50%;
        height: auto;
        margin-bottom: 10%;
        padding: 10% 0;
        box-sizing: border-box;
        font-size: 1rem;
    
    }
}

@media (max-width:992px){
    .countdown-container{
        flex-wrap: wrap;
    }

    .countdown-container > div{
        margin: 1rem auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 410px ) {
    .w-100{
        height: max-content;
    }

    .countdown-container{
        display: flex;
        margin: 1rem 2.5rem;
    }

    .countdown-container div{
        margin: 1rem;
        padding: 0rem;
    }
    
    p.big-text{  
        margin: 0em;
    }
    
    .big-text{
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
    }
    
    .countdown-container > div{
    margin: 1.5rem 1.5rem;
    text-align: center;
    border: 1px solid #EEE5A2;
    padding: 0px 1rem;
    border-radius: 10px;
    min-width: 100px;

}

.left{
    text-align: center;
    font-size: 1.5rem;
    line-height: 40px;
}

.speak{
    font-size: 2rem;
    line-height: 15px;
    padding: 2rem 2.5rem;
    color: #000;

}

.box{
    width: 50%;
    height: auto;
    margin-bottom: 10%;
    padding: 10% 3%;
    box-sizing: border-box;
    font-size: 1rem;

}

.day1{
    left: 4rem;
    padding-top: 4rem;   
    font-size: 1.25rem;
          
}

.day2{
    left: 4rem;
    padding-top: 9rem;   
    font-size: 1.25rem;
    
}

.times{
    margin-left: 5rem;
        margin-top: -80px;
}

.timeline ol {
    width: 90%;
    padding: 180px 0;
  }
  
  .timeline ol li {
    width: 40px;
    height: 2px;
       
  }
  
  .timeline ol li:last-child {
    width: 50px;
  }

  /* */
  .timeline ol li:not(:first-child) {
    margin-left: 5px;
  }
  
  .timeline ol li:not(:last-child)::after {
    top: 50%;
    left: calc(100% + 0.5px);
    bottom: 0;
    width: 9px;
    height: 6px;
    transform: translateY(-50%);
    border-radius: 10%;
    background: #F2C548;
  }
  
  .timeline ol li div {
    
    left: calc(20% + 8px);
    width: 60px;
   
    padding: 10px;
    
    font-size: 0.5rem;
    
    
  }
  
  .timeline ol li:nth-child(even) div {
    top: -52px;
    
  }
  
  .timeline ol li:nth-child(even) div::before {
    top: 100%;
    left: 25px;
    height: 30px;
    border-width: 50px 0px 0 0;
    border-color: #06514A transparent transparent transparent;
  }
  
  .timeline ol li:nth-child(odd) div {
    top: calc(10% + 50px);
  }
  
  
  .timeline ol li:nth-child(odd) div::before {
    top: -49px;
     left: 25px;
      width: 2px;
      height: 50px;
  }
  
  .timeline time {
    
    font-size: 0.7rem;
    margin-bottom: 4px;
  }

.my-container{
    margin: 1rem 0;
    padding: 0 1rem;
}

  .my-container1 {
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
    /*background: #380636;*/
 }

 footer {
    
    font-size: 1rem;
    line-height: 15px;
  
}

    
    
}

