*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #A0DB78;
  color: black;
  background-image: url(one.jpg), url(two.jpg),url(three.jpg);
   
    background-blend-mode:soft-light;
    background-size:800px,1050px,800px;
    
  
    background-position-y: -1020px,-1760px,-1800px;
    background-position-x: 70px,0px,340px;
    
    background-repeat: no-repeat;


   
   
     
  }



.section {
  
  padding: 50px 0;
}

.section .container {
  width: 90%;
  
  margin: 0 auto;
  text-align:left;
}



/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
 
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #06514A;
 
}

.timeline ol li:last-child {
  width: 200px;
}

.timeline ol li:not(:first-child) {
  margin-left: 15px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 0.5px);
  bottom: 0;
  width: 15px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #F2C548;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 180px;
 
  padding: 15px;
  
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: #C0D3D2;
  
}


.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -52px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  content: '';
    display: block;
   left:-2px;
    width: 3px;
    height: 50px;
  border-width: 50px 0px 0 0;
  border-color: #06514A transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 50px);
}

.timeline ol li:nth-child(even) div::before {
  top: -49px;
  content: '';
    display: block;
   left:-1px;
    width: 2px;
    height: 50px;
  border-width: 0px 0 0 3.5px;
  border-color: transparent transparent transparent #06514A;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}





/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
  .timeline ol,
  .timeline ol li {
    width: auto; 
  }
  
  .timeline ol {
    padding: 0;
    transform: none !important;
  }
  
  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }
  
  .timeline ol li:first-child {
    margin-top: 25px;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }
  
  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }
  
  .timeline ol li div {
    position: static;
  }
  
  .timeline ol li:nth-child(odd) div {
    transform: none;
  }
  
  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }
  
  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}